<ion-header [translucent]="true">
  <app-common-header page="Home"></app-common-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="fetchBooks()">Get Books</ion-button>

  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-label>
        <h2>{{book.bookName}}</h2>
        <p>{{book.bookDescription}}</p>
        <p><sub> {{book.bookReviews}} reviews </sub></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select
        interface="popover"
        toggleIcon="add"
        expandedIcon="remove"
        aria-label="fruit"
        placeholder="Select fruit"
      >
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
